################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/babyNI-AggregatorAPI/babyNI-AggregatorAPI/obj/Release/net7.0
/.vs/NI-BE/FileContentIndex
/.vs/slnx.sqlite
